
session 11/MNIST/digit_xtest.csv
session 11/MNIST/digit_xtrain.csv
session 11/MNIST/digit_ytest.csv
session 11/MNIST/digit_ytrain.csv
session 11/MNIST/digit_xtrain.csv
session 11/MNIST/digit_xtest.csv
*.csv
